<h1>{{ ::vm.character.name }}</h1>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ ::vm.character.name }}</h3>
    </div>
    <div class="panel-body col-sm-5 col-md-6">
      {{ ::vm.character.bio }}
    </div>
    <div class="panel-body col-sm-3 col-md-2">
      <ul class="list-unstyled">
        <li><strong>Homeworld:</strong> {{ ::vm.character.homeworld }}</li>
        <li><strong>Weapon:</strong> {{ ::vm.character.weapon || 'n/a'}}</li>
        <li><strong>Species:</strong> {{ ::vm.character.species }}</li>
        <li><strong>Height: </strong> {{ ::vm.character.height }}</li>
      </ul>
    </div>
    <div class="panel-body col-sm-3 col-md-2 text-center">
      <img ng-src="{{ ::vm.character.image }}">
    </div>
  </div>
</div>
