<div class="starter-template">
  <h1>AngularJS Workshop</h1>
  <p class="lead">This project has been created for the AngularJS Workshop and it's based on the Star Wars Universe.</p>
</div>

<div class="lightsaber">
  <label for="darth-vader"></label>
  <input type="checkbox" id="darth-vader" checked="checked">
  <div class="switch"></div>
  <div class="plasma vader"></div>
</div>
