<div class="thumbnail">
  <img ng-src="{{ image }}" alt="{{ name }}">
  <div class="caption">
    <h3>{{ name }}</h3>
    <p><a ng-href="#/vehicles/{{ name | convert }}" class="btn btn-primary" role="button">More info</a></p>
  </div>
</div>
