<div>
  <h1>{{ name }}</h1>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ name }}</h3>
      </div>
      <div class="panel-body col-sm-8 col-md-8">
        <p>{{ description }}</p>
      </div>
      <div class="panel-body col-sm-3 col-md-2 text-center">
        <img ng-src="{{ image }}" width="350">
      </div>
    </div>
  </div>
</div>
