<h1>Star Wars Vehicles</h1>
<p>There are {{ vehicles.length }} characters in the database. <small>Currenty viewing: {{ filtered.length }}</small></p>
<!-- <div class="row">
<div class="col-sm-4 col-md-4">
<form class="form-inline" role="form">
<div class="form-group right-inner-addon">
<input type="text" class="form-control" ng-model="search[option]" placeholder="Search">
<i class="glyphicon glyphicon-search"></i>
</div>
<div class="form-group">
<select class="form-control" ng-model="option" ng-options="choice | capitalise for choice in choices" ng-change="reset()"></select>
</div>
</form>
</div>
<div class="col-sm-4 col-md-4">
<p><a ng-click="order.sortedBy='name'; order.reverse=!order.reverse" class="btn btn-primary" role="button">Name <i class="glyphicon" ng-class="order.reverse && order.sortedBy === 'name'  ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></i></a> <a ng-click="order.sortedBy='role'; order.reverse=!order.reverse" class="btn btn-primary" role="button">Role <i class="glyphicon" ng-class="order.reverse && order.sortedBy === 'role' ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></i></a></p>
</div>
<div class="col-sm-4 col-md-4 text-right">
<form class="form-inline" role="form">
<div class="form-group">
<select class="form-control" ng-model="alliance" ng-options="alliance | capitalise for alliance in alliances">
<option value="">Select an alliance</option>
</select>
</div>
</form>
</div>
</div> -->
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="vehicle in filtered = (vm.vehicles | filter: search | filter: alliance | orderBy: order.sortedBy:order.reverse)">
    <div multi-display favourite="{{ vehicle.favourite }}" name="{{ vehicle.name }}" image="{{ vehicle.image }}">

    </div>
    <!-- <div class="thumbnail">
      <img ng-src="{{ vehicle.image }}" alt="{{ vehicle.name }}">
      <div class="caption">
        <h3>{{ vehicle.name }}</h3>
        <p><a ng-href="#/vehicles/{{ vehicle.name | convert }}" class="btn btn-primary" role="button">More info</a></p>
      </div>
    </div> -->
  </div>
</div>
