<h1>Star Wars Characters</h1>
<p>There are {{ characters.length }} characters in the database. <small>Currenty viewing: {{ filtered.length }}</small></p>
<div class="row">
  <div class="col-sm-4 col-md-4">
    <form class="form-inline" role="form">
      <div class="form-group right-inner-addon">
        <input type="text" class="form-control" ng-model="vm.search[vm.option]" placeholder="Search">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      <div class="form-group">
        <select class="form-control" ng-model="vm.option" ng-options="choice for choice in vm.choices" ng-change="vm.reset()"></select>
      </div>
    </form>
  </div>
  <div class="col-sm-4 col-md-4">
    <p><a ng-click="vm.order.sortedBy='name'; vm.order.reverse=!vm.order.reverse" class="btn btn-primary btn-sort-name" role="button">Name <i class="glyphicon" ng-class="vm.order.reverse && vm.order.sortedBy === 'name'  ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></i></a> <a ng-click="vm.order.sortedBy='role'; vm.order.reverse =! vm.order.reverse" class="btn btn-primary" role="button">Role <i class="glyphicon" ng-class="vm.order.reverse && vm.order.sortedBy === 'role' ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></i></a></p>
  </div>
  <div class="col-sm-4 col-md-4 text-right">
    <form class="form-inline" role="form">
      <div class="form-group">
        <select class="form-control" ng-model="vm.alliance" ng-options="alliance for alliance in vm.alliances">
          <option value="">Select an alliance</option>
        </select>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="character in filtered = (vm.characters | filter: vm.search | filter: vm.alliance | orderBy: vm.order.sortedBy:vm.order.reverse)">
    <div class="thumbnail">
      <img class="character-image" ng-src="{{ character.image }}" alt="{{ character.name }}">
      <div class="caption">
        <h3>{{ ::character.name }}</h3>
        <p>Role: {{ ::character.role}} </p>
        <p><a ng-href="#/characters/{{ character.name | convert }}" class="btn btn-primary" role="button">More info</a></p>
      </div>
    </div>
  </div>
</div>
